#spotlight-video {
    text-align: center;
    transition: all .75s ease-in-out;
}

#spotlight-video:hover {
    background-color: #000;
    padding: 150px 0 250px;
    transform: scale(1.1);
    margin: 0 0 3rem;
}


.title.is-3 {
    font-size: 2rem;
}

.compare-row {
    display: flex;
    /* gap: 16px; */
}

.compare-row img {
    width: 33.33%;
    height: auto;
}